.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

#initially-showing {
  display: none;
}


.init-trick {
  cursor: pointer;
  color: red;
  font-weight: bold;
}

.init-trick:hover {
  text-decoration: underline;
}

img.trick {
  display: none;
}

.init-op-trick {
  cursor: pointer;
  color: magenta;
  font-style: italic;
}

.init-op-trick:hover {
  text-decoration: underline;
}
